.contact-form-main{
    width: 100%;
    height: 100vh;
}

.contact-form-contact-div{
    margin: 0 auto !important;
    -ms-transform: translateY(20%);
     transform: translateY(20%);
    
}

.contact-form-input-fields{
    margin-top: 10px !important;
    width: 30%;
}

.contact-form-contact-heading{
    text-align: center;
}
.contact-form-submit-btn{
    margin-top: 30px !important;
}

@media only screen and (max-width: 900px) {
    .contact-form-input-fields{
        width: 70% !important;
    }
  }


  /* CONTACT FORM END */
